// Navigation code here
.mainheader {
    display:flex;
    justify-content: center;
    margin-top: 1%;

    header {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 800px;

        .spacewalkers {
            margin: 2%;
            font-size: 3rem;
        }

        .nav {
            display: flex;
            width:50%;
            justify-content: space-around;
            
        }

        nav a {
            text-decoration: none;
            font-size: 1.5rem;
            color: black;
            font-weight: 500;
        }
        
    }
   
}

.img-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 1%;
        img {
            width: 800px;
        }
}